name: sync_master_to_upstream
on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

jobs:
  sync-master-to-upstream:
    runs-on: ubuntu-latest
    # don't need to write permissions because below uses WORKFLOW_SYNC_TOKEN
    # permissions:
    #   contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.WORKFLOW_SYNC_TOKEN }}
      - name: Sync and Restore
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          YAML_CONTENT=$(cat .github/workflows/sync.yml)
          git remote add upstream https://github.com/vim/vim.git
          git fetch upstream
          git reset --hard upstream/master
          git push origin master --force
          echo "$YAML_CONTENT" > .github/workflows/sync.yml
          git add .github/workflows/sync.yml
          git commit -m "chore: keep sync workflow alive"
          git push origin master --force
